/*
========================================================================================
    Config file for defining DSL2 per module options
========================================================================================
    Available keys to override module options:
        args            = Additional arguments appended to command in module.
        args2           = Second set of arguments appended to command in module (multi-tool modules).
        args3           = Third set of arguments appended to command in module (multi-tool modules).
        publish_dir     = Directory to publish results.
        publish_by_meta = Groovy list of keys available in meta map to append as directories to "publish_dir" path
                            If publish_by_meta = true                 - Value of ${meta['id']} is appended as a directory to "publish_dir" path
                            If publish_by_meta = ['id', 'custompath'] - If "id" is in meta map and "custompath" isn't then "${meta['id']}/custompath/"
                                                                        is appended as a directory to "publish_dir" path
                            If publish_by_meta = false / null         - No directories are appended to "publish_dir" path
        publish_files   = Groovy map where key = "file_ext" and value = "directory" to publish results for that file extension
                            The value of "directory" is appended to the standard "publish_dir" path as defined above.
                            If publish_files = null (unspecified)     - All files are published.
                            If publish_files = false                  - No files are published.
        suffix          = File name suffix for output files.
----------------------------------------------------------------------------------------
*/

params {
    modules {
        'abricate_resistome' {
            args = "--db ncbi --minid 80 --mincov 80 "
            publish_files = [ 'tsv':'', 'yml': '']
            publish_by_meta = ['abricate', 'id']
            publish_dir = "./Resistome"
        }
         'abricate_summarize' {
            args = "--nopath"
            publish_files = [ 'tsv':'', 'yml': '']
            publish_by_meta = ['abricate']
            publish_dir = "./Resistome"
        }
         'abricate_vf' {
            args = "--db vfdb --minid 80 --mincov 80 "
            publish_files = [ '_abricate.tsv':'', 'yml': '']
            publish_by_meta = ['abricate']
            publish_dir = "./Virulence"
        }
        'abricate_vf_summarize' {
            args = " "
            publish_files = [ 'tsv':'', 'yml': '']
            //publish_by_meta = ['abricate']
            publish_dir = "./Report"
        }

        'amrfinderplus' {
            args = " --plus --ident_min 0.9 --coverage_min 0.5 "
            publish_files = [ 'tsv': '', 'faa': '', 'fna': '', 'yml': '']
            publish_by_meta = ['amrfinderplus']
            publish_dir = "./Resistome"
        }
        

        'bakta' {
            args = "--min-contig-length 200"
            publish_files = [ 'gff3':'', 'json':'', 'tsv':'',  'gbff':'', 'embl':'', 'ffn':'', 'faa':'','yml': '']
            publish_by_meta = ['bakta']
            publish_dir = "./Annotation"
        }
        'bakta_features'{
            args = ""
            publish_files = [ 'tsv':'']
            publish_by_meta = ['bakta']
            publish_dir = "./Annotation"
        }
        'bbmap_bbduk' {
            args = "ktrim=r ordered minlen=51 minlenfraction=0.33 mink=11 tbo tpe rcomp=f k=23 ow=t hdist=1 hdist2=1 ftm=5 zl=4 ref=adapters,artifacts"
            args2 = "maq=5 trimq=10 qtrim=f ordered ow=t maxns=1 minlen=51 minlenfraction=0.33 k=25 hdist=1 zl=6 ref=adapters,artifacts,phix"
            args3 = "ordered ow=t k=20 hdist=1 zl=6 ref=adapters,artifacts,phix"
            publish_files   = ['fastq.gz':'', 'yml': '']
            publish_by_meta = ['bbmap_bbduk']
            publish_dir     = "./QC_shortreads"
        }
        'bbmap_bbduk_qc_stats' {

            args                ="short"
            suffix              = "qc" 
            publish_by_meta = ['bbmap_bbduk']
            publish_files   = ['seqstats.txt':'']
            publish_dir     = "./QC_shortreads"

        }
        'bbmap_bbduk_qc_seqtk_fqchk' {
            args                ="short"
            suffix              = "qc" 
            publish_by_meta = ['bbmap_bbduk']
            publish_files   = [ 'yml': '']
            publish_dir     = "./QC_shortreads"
        }
        'csvtk_concat'{
            args = ""
            //publish_files   = ['yml': '']
            //publish_by_meta = ['fastqc_raw', "id"]
            publish_dir = "./Report"

        }
        'fastqc_raw' {
            args = "--quiet"
            publish_files   = ['zip':'', 'html': '', 'yml': '']
            publish_by_meta = ['fastqc_raw', "id"]
            publish_dir = "./QC_shortreads"
        }
         'fastqc_qc' {
            args = "--quiet"
            publish_files   = ['zip':'', 'html': '', 'yml': '']
            publish_by_meta = ['fastqc_qc', "id"]
            publish_dir = "./QC_shortreads"
        }
        'flye' {
            args = "--scaffold"
           // args2 = "minlength=200"
            publish_files = [ 'contigs.fasta':'', 'contig_info.txt':'', 'graph.gfa':'' , 'yml': '']
            publish_by_meta = ['flye']
            publish_dir = "Assembly/Long"
        }
        'flye_assembly_stats'{
            publish_files   = ['_stats.tsv':'', 'yml': '']
            publish_by_meta = ['flye']
            publish_dir     = "./Assembly/Long"
        }
        'get_sampleids'{
            publish_files = ['sids.txt':'']
            publish_dir = '.'
        }
        
        'hamronize'{
            args = ""
            publish_files = ['tsv':'', 'html':'', 'yml': '' ]
            publish_by_meta = ['hamronize']
            publish_dir = "./Resistome"
        }
        'kraken2' {
            args = ""
            publish_files = ['kraken2.report.txt':'', 'fastq.gz':'', 'yml': '' ]
            publish_by_meta = ['kraken2']
            publish_dir = "./Taxonomy"
        }
        'kraken2_bracken' {
            args = "-r 100 -l S"
            publish_files   = ['output.txt':'', 'outreport.txt': '', 'yml': '']
            publish_by_meta = ['kraken2']
            publish_dir = "./Taxonomy"
        }
        
        'medaka' {
            args = "-m r941_min_hac_g507"
            publish_files = ['fasta':'',  'yml': '' ]
            publish_by_meta = ['medaka']
            publish_dir = "Assembly/Long"
        }
        'medaka_assembly_stats'{
            publish_files   = ['_stats.tsv':'', 'yml': '']
            publish_by_meta = ['medaka']
            publish_dir     = "./Assembly/Long"
        }
        'minimap_align_short' {
            args = "-ax sr"
            
            publish_files = false
            //publish_by_meta = ['minimap_align_short', 'id']
            //publish_dir = "./Assembly/Short"
        }
        'minimap_align_long' {
            args = "-x ava-ont"
            publish_files = false
            //publish_by_meta = ['minimap_align_long', 'id']
            //publish_dir = "./Assembly/Long"
        }
        'miniasm' {
            args = ""
            publish_files = [ '_assembly.fasta':'', 'yml': '' ]
            publish_by_meta = ['miniasm']
            publish_dir = "./Assembly/Long"
        }
        'miniasm_assembly_stats'{
            publish_files   = ['_stats.tsv':'', 'yml': '']
            publish_by_meta = ['miniasm']
            publish_dir     = "./Assembly/Long"
        }
        'mlst' {
            args = ""
            publish_files = [ 'tsv':'', 'yml': '']
            publish_by_meta = ['mlst']
            publish_dir = "./MLST"
        }
        'mobsuite' {
            args = ""
            publish_files = [ 'report.txt':'', 'mobtyper_results.txt':'', 'plasmid.txt':'', 'yml': '' ]
            publish_by_meta = ['mobsuite']
            publish_dir = "./Plasmid"
        }
         'multiqc' {
            args = ""
            publish_dir = "./multiqc"

        }
        'nanoplot_raw' {
            args = "-c darkblue --tsv_stats --info_in_report --plots hex dot"
            publish_by_meta = ['nanoplot_raw', 'id']
            publish_dir = "./QC_longreads"
        }
        'nanoplot_qc' {
            args = "-c darkblue --tsv_stats --info_in_report --plots hex dot"
            publish_by_meta = ['nanoplot_qc', 'id']
            publish_dir = "./QC_longreads"
        }
        //do not have singularity, only local install
        'nextpolish' {
            args = ""
            publish_by_meta = ['nextpolish']
            publish_dir = "Assembly/Long"
        }
        'nextpolish_assembly_stats'{
            publish_files   = ['_stats.tsv':'', 'yml': '']
            publish_by_meta = ['nextpolish']
            publish_dir     = "./Assembly/Long"
        }

        'pilon' {
            args = "--fix all --changes"
            publish_files = [ '_pilon.fasta':'' , 'yml': '']
            publish_by_meta = ['pilon']
            publish_dir = "Assembly/Long"
        }
        'pilon_assembly_stats'{
            publish_files   = ['_stats.tsv':'', 'yml': '']
            publish_by_meta = ['pilon']
            publish_dir     = "./Assembly/Long"
        }
        'polca' {
            args = ""
            publish_files = [ '_polca.fasta':'', 'yml': '' ]
            publish_by_meta = ['polca', 'id']
            publish_dir = "Assembly/Long"
        }
        'polca_assembly_stats'{
            publish_files   = ['_stats.tsv':'', 'yml': '']
            publish_by_meta = ['polca']
            publish_dir     = "./Assembly/Long"
        }
        'porechop' {
            args = ""
            publish_files = [ '_porechop.fastq':'', 'yml': '' ]
            publish_by_meta = ['porechop']
            publish_dir     = "./QC_longreads"
        }
        'porechop_qc_seqtk_fqchk' {
            args                = "long"
            suffix              = "qc" 
            publish_by_meta = ['porechop']
            publish_files   = ['yml': '']
            publish_dir     = "./QC_longreads"
        }
        'porechop_qc_seq_stats' {

            args                ="long"
            suffix              = "qc" 
            publish_by_meta = ['porechop']
            publish_files   = ['seqstats.txt':'']
            publish_dir     = "./QC_longreads"

        }
        'prokka' {
            args = "--mincontiglen 500 --notrna --fast --force"
            publish_by_meta = ['prokka','id']
            publish_dir = "./Annotation"
        }
        'prokka_features'{
            args = ""
            publish_files = [ 'tsv':'']
            publish_by_meta = ['prokka']
            publish_dir = "./Annotation"
        }
        'racon' {
            args = "-m 8 -x -6 -g -8 -w 500"
            publish_files = [ '_racon.fasta':'' , 'yml': '']
            publish_by_meta = ['racon', 'id']
            publish_dir = "Assembly/Long/"
        }
        'racon_assembly_stats'{
            publish_files   = ['_stats.tsv':'', 'yml': '']
            publish_by_meta = ['racon']
            publish_dir     = "./Assembly/Long"
        }
        'rgi' {
            args = "--clean --alignment_tool DIAMOND --input_type contig"
            publish_files = [ 'json':'' , 'txt':'','yml': '']
            publish_by_meta = ['rgi', 'id']
            publish_dir = "./Resistome"
        }
        'rgi_heatmap' {
            args = ""
            publish_files = [ 'png':'','yml': '']
            publish_by_meta = ['rgi', 'id']
            publish_dir = "./Resistome"
        }
        'samtools_index' {
            args = ""
            publish_dir     = "."
        }
        'samtools_sort' {
            args = ""
            suffix = "_sort"
            publish_dir     = "."
        }

        'samtools_view' {
            args = " -F 0x4 -b"
            publish_dir     = "."
        }
        
        'seq_stats_longreads_raw' {

            args                ="long"
            suffix              = "raw" 
            publish_by_meta = ['rawstats']
            publish_files   = ['seqstats.txt':'']
            publish_dir     = "./QC_longreads"

        }
        
        'seq_stats_shortreads_raw' {

            args                ="short"
            suffix              = "raw" 
            publish_by_meta = ['rawstats']
            publish_files   = ['seqstats.txt':'']
            publish_dir     = "./QC_shortreads"

        }
       
        'seqtk_fqchk_longreads_raw' {
            args                = "long"
            suffix              = "raw" 
            publish_by_meta = ['rawstats']
            publish_files   = ['yml': '']
            publish_dir     = "./QC_longreads"
        }
        
        'seqtk_fqchk_shortreads_raw' {
            args                ="long"
            suffix              = "raw" 
            publish_by_meta = ['rawstats']
            publish_files   = ['yml': '']
            publish_dir     = "./QC_shortreads"
        }
        
        'skesa' {
            args = ""
            publish_files   = ['_contigs.fasta':'', 'yml': '']
            publish_by_meta = ['skesa']
            publish_dir     = "./Assembly/Short"
        }
        'skesa_assembly_stats'{
            publish_files   = ['_stats.tsv':'', 'yml': '']
            publish_by_meta = ['skesa']
            publish_dir     = "./Assembly/Short"
        }
        'spades' {
            //auto only works with uniform coverage model
            args = "--careful --only-assembler --cov-cutoff auto"
            publish_files   = ['fasta':'', 'gfa':'', 'log':'', 'yml': '']
            publish_by_meta = ['spades']
            publish_dir     = "./Assembly/Short"
        }
        'spades_assembly_stats'{
            publish_files   = ['_stats.tsv':'', 'yml': '']
            publish_by_meta = ['spades']
            publish_dir     = "./Assembly/Short"
        }
        'spades_hybrid' {
            //auto only works with uniform coverage model
            args = "--careful --only-assembler --cov-cutoff auto"
            publish_files   = ['fasta':'', 'gfa':'', 'log':'', 'yml': '']
            publish_by_meta = ['spades']
            publish_dir     = "./Assembly/Hybrid"
        }
        'spades_hybrid_assembly_stats'{
            publish_files   = ['_stats.tsv':'', 'yml': '']
            publish_by_meta = ['spades']
            publish_dir     = "./Assembly/Hybrid"
        }
        'srax' {
            args = "-s dblastx -a muscle -db basic -e 1e-05 -id 85 -c 60 "
            publish_files   = ['Results':'', '_ARGs.tsv': '', 'yml': '']
            publish_by_meta = ['srax', 'id']
            publish_dir     = "./Resistome"
        }

        //assembly illumina or long reads
        'unicycler_short' {
            args = "--mode normal"
            
             //contig min length
            args2 = "minlength=200"
            args3 = "short"
            publish_files   = ['scaffolds':'', 'gfa':'', 'yml':'']
            publish_by_meta = ['unicycler', 'id']
            publish_dir = "./Assembly/Short"
        }
        'unicycler_short_assembly_stats'{
            publish_files   = ['_stats.tsv':'', 'yml': '']
            publish_by_meta = ['unicycler']
            publish_dir     = "./Assembly/Short"
        }
        //assembly illumina or long reads
        'unicycler_long' {
            args = "--mode normal"
            publish_files   = ['scaffolds':'', 'gfa':'', 'yml':'']
            publish_by_meta = ['unicycler']
            publish_dir = "./Assembly/Long"
        }
        'unicycler_long_assembly_stats'{
            publish_files   = ['_stats.tsv':'', 'yml': '']
            publish_by_meta = ['unicycler']
            publish_dir     = "./Assembly/Long"
        }
        //assembly illumina or long reads
        'unicycler_hybrid' {
            args = "--mode normal"
            publish_files   = ['scaffolds':'', 'gfa':'', 'yml':'']
            publish_by_meta = ['unicycler', 'id']
            publish_dir = "./Assembly/Hybrid"
        }
        'unicycler_hybrid_assembly_stats'{
            publish_files   = ['_stats.tsv':'', 'yml': '']
            publish_by_meta = ['unicycler']
            publish_dir     = "./Assembly/hybrid"
        }
        
        
        
    }
}
